#Compile Sources:

Architecture-Xamarin/Apps/Android/obj
Architecture-Xamarin/Apps/Android/bin

Architecture-Xamarin/Apps/iOS/obj
Architecture-Xamarin/Apps/iOS/bin

Architecture-Xamarin/Apps/Windows/obj
Architecture-Xamarin/Apps/Windows/bin

Architecture-Xamarin/Shares/Core/obj
Architecture-Xamarin/Shares/Core/bin
packages/CommonServiceLocator.1.3/[Content_Types].xml
packages/CommonServiceLocator.1.3/CommonServiceLocator.1.3.nupkg
packages/CommonServiceLocator.1.3/lib/portable-net4+sl5+netcore45+wpa81+wp8/Microsoft.Practices.ServiceLocation.dll
packages/CommonServiceLocator.1.3/lib/portable-net4+sl5+netcore45+wpa81+wp8/Microsoft.Practices.ServiceLocation.dll.mdb
packages/CommonServiceLocator.1.3/lib/portable-net4+sl5+netcore45+wpa81+wp8/Microsoft.Practices.ServiceLocation.pdb
packages/CommonServiceLocator.1.3/lib/portable-net4+sl5+netcore45+wpa81+wp8/Microsoft.Practices.ServiceLocation.XML
packages/Crosslight.Xamarin.Android.Support.v4.23.1.1/Crosslight.Xamarin.Android.Support.v4.23.1.1.nupkg
packages/Crosslight.Xamarin.Android.Support.v4.23.1.1/lib/MonoAndroid10/Xamarin.Android.Support.v4.dll
packages/Crosslight.Xamarin.Android.Support.v7.AppCompat.23.1.1/Crosslight.Xamarin.Android.Support.v7.AppCompat.23.1.1.nupkg
packages/Crosslight.Xamarin.Android.Support.v7.AppCompat.23.1.1/lib/MonoAndroid10/Xamarin.Android.Support.v7.AppCompat.dll
packages/Crosslight.Xamarin.Android.Support.v7.RecyclerView.23.1.1/Crosslight.Xamarin.Android.Support.v7.RecyclerView.23.1.1.nupkg
packages/Crosslight.Xamarin.Android.Support.v7.RecyclerView.23.1.1/lib/MonoAndroid10/Xamarin.Android.Support.v7.RecyclerView.dll
packages/Microsoft.AspNet.WebApi.5.2.3/Microsoft.AspNet.WebApi.5.2.3.nupkg
packages/Microsoft.AspNet.WebApi.Client.5.2.3/Microsoft.AspNet.WebApi.Client.5.2.3.nupkg
packages/Microsoft.AspNet.WebApi.Client.5.2.3/lib/net45/System.Net.Http.Formatting.dll
packages/Microsoft.AspNet.WebApi.Client.5.2.3/lib/net45/System.Net.Http.Formatting.xml
packages/Microsoft.AspNet.WebApi.Client.5.2.3/lib/portable-wp8+netcore45+net45+wp81+wpa81/System.Net.Http.Formatting.dll
packages/Microsoft.AspNet.WebApi.Client.5.2.3/lib/portable-wp8+netcore45+net45+wp81+wpa81/System.Net.Http.Formatting.xml
packages/Microsoft.AspNet.WebApi.Core.5.2.3/Microsoft.AspNet.WebApi.Core.5.2.3.nupkg
packages/Microsoft.AspNet.WebApi.Core.5.2.3/Content/web.config.transform
packages/Microsoft.AspNet.WebApi.Core.5.2.3/lib/net45/System.Web.Http.dll
packages/Microsoft.AspNet.WebApi.Core.5.2.3/lib/net45/System.Web.Http.xml
packages/Microsoft.AspNet.WebApi.WebHost.5.2.3/Microsoft.AspNet.WebApi.WebHost.5.2.3.nupkg
packages/Microsoft.AspNet.WebApi.WebHost.5.2.3/lib/net45/System.Web.Http.WebHost.dll
packages/Microsoft.AspNet.WebApi.WebHost.5.2.3/lib/net45/System.Web.Http.WebHost.xml
packages/Microsoft.Bcl.1.1.10/License-Stable.rtf
packages/Microsoft.Bcl.1.1.10/Microsoft.Bcl.1.1.10.nupkg
packages/Microsoft.Bcl.1.1.10/lib/monoandroid/_._
packages/Microsoft.Bcl.1.1.10/lib/monotouch/_._
packages/Microsoft.Bcl.1.1.10/lib/net40/ensureRedirect.xml
packages/Microsoft.Bcl.1.1.10/lib/net40/System.IO.dll
packages/Microsoft.Bcl.1.1.10/lib/net40/System.IO.xml
packages/Microsoft.Bcl.1.1.10/lib/net40/System.Runtime.dll
packages/Microsoft.Bcl.1.1.10/lib/net40/System.Runtime.xml
packages/Microsoft.Bcl.1.1.10/lib/net40/System.Threading.Tasks.dll
packages/Microsoft.Bcl.1.1.10/lib/net40/System.Threading.Tasks.xml
packages/Microsoft.Bcl.1.1.10/lib/net45/_._
packages/Microsoft.Bcl.1.1.10/lib/portable-net40+sl4+win8/ensureRedirect.xml
packages/Microsoft.Bcl.1.1.10/lib/portable-net40+sl4+win8/System.IO.dll
packages/Microsoft.Bcl.1.1.10/lib/portable-net40+sl4+win8/System.IO.xml
packages/Microsoft.Bcl.1.1.10/lib/portable-net40+sl4+win8/System.Runtime.dll
packages/Microsoft.Bcl.1.1.10/lib/portable-net40+sl4+win8/System.Runtime.xml
packages/Microsoft.Bcl.1.1.10/lib/portable-net40+sl4+win8/System.Threading.Tasks.dll
packages/Microsoft.Bcl.1.1.10/lib/portable-net40+sl4+win8/System.Threading.Tasks.xml
packages/Microsoft.Bcl.1.1.10/lib/portable-net40+sl4+win8+wp71+wpa81/ensureRedirect.xml
packages/Microsoft.Bcl.1.1.10/lib/portable-net40+sl4+win8+wp71+wpa81/System.IO.dll
packages/Microsoft.Bcl.1.1.10/lib/portable-net40+sl4+win8+wp71+wpa81/System.IO.xml
packages/Microsoft.Bcl.1.1.10/lib/portable-net40+sl4+win8+wp71+wpa81/System.Runtime.dll
packages/Microsoft.Bcl.1.1.10/lib/portable-net40+sl4+win8+wp71+wpa81/System.Runtime.xml
packages/Microsoft.Bcl.1.1.10/lib/portable-net40+sl4+win8+wp71+wpa81/System.Threading.Tasks.dll
packages/Microsoft.Bcl.1.1.10/lib/portable-net40+sl4+win8+wp71+wpa81/System.Threading.Tasks.xml
packages/Microsoft.Bcl.1.1.10/lib/portable-net40+sl4+win8+wp8+wpa81/ensureRedirect.xml
packages/Microsoft.Bcl.1.1.10/lib/portable-net40+sl4+win8+wp8+wpa81/System.IO.dll
packages/Microsoft.Bcl.1.1.10/lib/portable-net40+sl4+win8+wp8+wpa81/System.IO.xml
packages/Microsoft.Bcl.1.1.10/lib/portable-net40+sl4+win8+wp8+wpa81/System.Runtime.dll
packages/Microsoft.Bcl.1.1.10/lib/portable-net40+sl4+win8+wp8+wpa81/System.Runtime.xml
packages/Microsoft.Bcl.1.1.10/lib/portable-net40+sl4+win8+wp8+wpa81/System.Threading.Tasks.dll
packages/Microsoft.Bcl.1.1.10/lib/portable-net40+sl4+win8+wp8+wpa81/System.Threading.Tasks.xml
packages/Microsoft.Bcl.1.1.10/lib/portable-net40+sl5+win8+wp8+wpa81/ensureRedirect.xml
packages/Microsoft.Bcl.1.1.10/lib/portable-net40+sl5+win8+wp8+wpa81/System.IO.dll
packages/Microsoft.Bcl.1.1.10/lib/portable-net40+sl5+win8+wp8+wpa81/System.IO.xml
packages/Microsoft.Bcl.1.1.10/lib/portable-net40+sl5+win8+wp8+wpa81/System.Runtime.dll
packages/Microsoft.Bcl.1.1.10/lib/portable-net40+sl5+win8+wp8+wpa81/System.Runtime.xml
packages/Microsoft.Bcl.1.1.10/lib/portable-net40+sl5+win8+wp8+wpa81/System.Threading.Tasks.dll
packages/Microsoft.Bcl.1.1.10/lib/portable-net40+sl5+win8+wp8+wpa81/System.Threading.Tasks.xml
packages/Microsoft.Bcl.1.1.10/lib/portable-net40+win8/ensureRedirect.xml
packages/Microsoft.Bcl.1.1.10/lib/portable-net40+win8/System.IO.dll
packages/Microsoft.Bcl.1.1.10/lib/portable-net40+win8/System.IO.xml
packages/Microsoft.Bcl.1.1.10/lib/portable-net40+win8/System.Runtime.dll
packages/Microsoft.Bcl.1.1.10/lib/portable-net40+win8/System.Runtime.xml
packages/Microsoft.Bcl.1.1.10/lib/portable-net40+win8/System.Threading.Tasks.dll
packages/Microsoft.Bcl.1.1.10/lib/portable-net40+win8/System.Threading.Tasks.xml
packages/Microsoft.Bcl.1.1.10/lib/portable-net40+win8+wp8+wpa81/ensureRedirect.xml
packages/Microsoft.Bcl.1.1.10/lib/portable-net40+win8+wp8+wpa81/System.IO.dll
packages/Microsoft.Bcl.1.1.10/lib/portable-net40+win8+wp8+wpa81/System.IO.xml
packages/Microsoft.Bcl.1.1.10/lib/portable-net40+win8+wp8+wpa81/System.Runtime.dll
packages/Microsoft.Bcl.1.1.10/lib/portable-net40+win8+wp8+wpa81/System.Runtime.xml
packages/Microsoft.Bcl.1.1.10/lib/portable-net40+win8+wp8+wpa81/System.Threading.Tasks.dll
packages/Microsoft.Bcl.1.1.10/lib/portable-net40+win8+wp8+wpa81/System.Threading.Tasks.xml
packages/Microsoft.Bcl.1.1.10/lib/portable-net45+win8+wp8+wpa81/_._
packages/Microsoft.Bcl.1.1.10/lib/portable-net45+win8+wpa81/_._
packages/Microsoft.Bcl.1.1.10/lib/portable-net451+win81/_._
packages/Microsoft.Bcl.1.1.10/lib/portable-net451+win81+wpa81/_._
packages/Microsoft.Bcl.1.1.10/lib/portable-win81+wp81+wpa81/_._
packages/Microsoft.Bcl.1.1.10/lib/sl4/System.IO.dll
packages/Microsoft.Bcl.1.1.10/lib/sl4/System.IO.xml
packages/Microsoft.Bcl.1.1.10/lib/sl4/System.Runtime.dll
packages/Microsoft.Bcl.1.1.10/lib/sl4/System.Runtime.xml
packages/Microsoft.Bcl.1.1.10/lib/sl4/System.Threading.Tasks.dll
packages/Microsoft.Bcl.1.1.10/lib/sl4/System.Threading.Tasks.xml
packages/Microsoft.Bcl.1.1.10/lib/sl4-windowsphone71/ensureRedirect.xml
packages/Microsoft.Bcl.1.1.10/lib/sl4-windowsphone71/System.IO.dll
packages/Microsoft.Bcl.1.1.10/lib/sl4-windowsphone71/System.IO.xml
packages/Microsoft.Bcl.1.1.10/lib/sl4-windowsphone71/System.Runtime.dll
packages/Microsoft.Bcl.1.1.10/lib/sl4-windowsphone71/System.Runtime.xml
packages/Microsoft.Bcl.1.1.10/lib/sl4-windowsphone71/System.Threading.Tasks.dll
packages/Microsoft.Bcl.1.1.10/lib/sl4-windowsphone71/System.Threading.Tasks.xml
packages/Microsoft.Bcl.1.1.10/lib/sl5/System.IO.dll
packages/Microsoft.Bcl.1.1.10/lib/sl5/System.IO.xml
packages/Microsoft.Bcl.1.1.10/lib/sl5/System.Runtime.dll
packages/Microsoft.Bcl.1.1.10/lib/sl5/System.Runtime.xml
packages/Microsoft.Bcl.1.1.10/lib/sl5/System.Threading.Tasks.dll
packages/Microsoft.Bcl.1.1.10/lib/sl5/System.Threading.Tasks.xml
packages/Microsoft.Bcl.1.1.10/lib/win8/_._
packages/Microsoft.Bcl.1.1.10/lib/wp8/_._
packages/Microsoft.Bcl.1.1.10/lib/wpa81/_._
packages/Microsoft.Bcl.1.1.10/lib/Xamarin.iOS10/_._
packages/Microsoft.Bcl.Build.1.0.21/License-Stable.rtf
packages/Microsoft.Bcl.Build.1.0.21/Microsoft.Bcl.Build.1.0.21.nupkg
packages/Microsoft.Bcl.Build.1.0.21/build/Microsoft.Bcl.Build.targets
packages/Microsoft.Bcl.Build.1.0.21/build/Microsoft.Bcl.Build.Tasks.dll
packages/Microsoft.Net.Http.2.2.29/License-Stable.rtf
packages/Microsoft.Net.Http.2.2.29/Microsoft.Net.Http.2.2.29.nupkg
packages/Microsoft.Net.Http.2.2.29/lib/monoandroid/System.Net.Http.Extensions.dll
packages/Microsoft.Net.Http.2.2.29/lib/monoandroid/System.Net.Http.Extensions.XML
packages/Microsoft.Net.Http.2.2.29/lib/monoandroid/System.Net.Http.Primitives.dll
packages/Microsoft.Net.Http.2.2.29/lib/monoandroid/System.Net.Http.Primitives.xml
packages/Microsoft.Net.Http.2.2.29/lib/monotouch/System.Net.Http.Extensions.dll
packages/Microsoft.Net.Http.2.2.29/lib/monotouch/System.Net.Http.Extensions.XML
packages/Microsoft.Net.Http.2.2.29/lib/monotouch/System.Net.Http.Primitives.dll
packages/Microsoft.Net.Http.2.2.29/lib/monotouch/System.Net.Http.Primitives.xml
packages/Microsoft.Net.Http.2.2.29/lib/net40/ensureRedirect.xml
packages/Microsoft.Net.Http.2.2.29/lib/net40/System.Net.Http.dll
packages/Microsoft.Net.Http.2.2.29/lib/net40/System.Net.Http.Extensions.dll
packages/Microsoft.Net.Http.2.2.29/lib/net40/System.Net.Http.Extensions.XML
packages/Microsoft.Net.Http.2.2.29/lib/net40/System.Net.Http.Primitives.dll
packages/Microsoft.Net.Http.2.2.29/lib/net40/System.Net.Http.Primitives.xml
packages/Microsoft.Net.Http.2.2.29/lib/net40/System.Net.Http.WebRequest.dll
packages/Microsoft.Net.Http.2.2.29/lib/net40/System.Net.Http.WebRequest.xml
packages/Microsoft.Net.Http.2.2.29/lib/net40/System.Net.Http.xml
packages/Microsoft.Net.Http.2.2.29/lib/net45/ensureRedirect.xml
packages/Microsoft.Net.Http.2.2.29/lib/net45/System.Net.Http.Extensions.dll
packages/Microsoft.Net.Http.2.2.29/lib/net45/System.Net.Http.Extensions.XML
packages/Microsoft.Net.Http.2.2.29/lib/net45/System.Net.Http.Primitives.dll
packages/Microsoft.Net.Http.2.2.29/lib/net45/System.Net.Http.Primitives.xml
packages/Microsoft.Net.Http.2.2.29/lib/portable-net40+sl4+win8+wp71+wpa81/ensureRedirect.xml
packages/Microsoft.Net.Http.2.2.29/lib/portable-net40+sl4+win8+wp71+wpa81/System.Net.Http.dll
packages/Microsoft.Net.Http.2.2.29/lib/portable-net40+sl4+win8+wp71+wpa81/System.Net.Http.Extensions.dll
packages/Microsoft.Net.Http.2.2.29/lib/portable-net40+sl4+win8+wp71+wpa81/System.Net.Http.Extensions.XML
packages/Microsoft.Net.Http.2.2.29/lib/portable-net40+sl4+win8+wp71+wpa81/System.Net.Http.Primitives.dll
packages/Microsoft.Net.Http.2.2.29/lib/portable-net40+sl4+win8+wp71+wpa81/System.Net.Http.Primitives.XML
packages/Microsoft.Net.Http.2.2.29/lib/portable-net40+sl4+win8+wp71+wpa81/System.Net.Http.xml
packages/Microsoft.Net.Http.2.2.29/lib/portable-net45+win8/ensureRedirect.xml
packages/Microsoft.Net.Http.2.2.29/lib/portable-net45+win8/System.Net.Http.Extensions.dll
packages/Microsoft.Net.Http.2.2.29/lib/portable-net45+win8/System.Net.Http.Extensions.XML
packages/Microsoft.Net.Http.2.2.29/lib/portable-net45+win8/System.Net.Http.Primitives.dll
packages/Microsoft.Net.Http.2.2.29/lib/portable-net45+win8/System.Net.Http.Primitives.xml
packages/Microsoft.Net.Http.2.2.29/lib/portable-net45+win8+wpa81/ensureRedirect.xml
packages/Microsoft.Net.Http.2.2.29/lib/portable-net45+win8+wpa81/System.Net.Http.Extensions.dll
packages/Microsoft.Net.Http.2.2.29/lib/portable-net45+win8+wpa81/System.Net.Http.Extensions.XML
packages/Microsoft.Net.Http.2.2.29/lib/portable-net45+win8+wpa81/System.Net.Http.Primitives.dll
packages/Microsoft.Net.Http.2.2.29/lib/portable-net45+win8+wpa81/System.Net.Http.Primitives.xml
packages/Microsoft.Net.Http.2.2.29/lib/sl4-windowsphone71/System.Net.Http.dll
packages/Microsoft.Net.Http.2.2.29/lib/sl4-windowsphone71/System.Net.Http.Extensions.dll
packages/Microsoft.Net.Http.2.2.29/lib/sl4-windowsphone71/System.Net.Http.Extensions.XML
packages/Microsoft.Net.Http.2.2.29/lib/sl4-windowsphone71/System.Net.Http.Primitives.dll
packages/Microsoft.Net.Http.2.2.29/lib/sl4-windowsphone71/System.Net.Http.Primitives.XML
packages/Microsoft.Net.Http.2.2.29/lib/sl4-windowsphone71/System.Net.Http.xml
packages/Microsoft.Net.Http.2.2.29/lib/win8/System.Net.Http.Extensions.dll
packages/Microsoft.Net.Http.2.2.29/lib/win8/System.Net.Http.Extensions.XML
packages/Microsoft.Net.Http.2.2.29/lib/win8/System.Net.Http.Primitives.dll
packages/Microsoft.Net.Http.2.2.29/lib/win8/System.Net.Http.Primitives.xml
packages/Microsoft.Net.Http.2.2.29/lib/wpa81/System.Net.Http.Extensions.dll
packages/Microsoft.Net.Http.2.2.29/lib/wpa81/System.Net.Http.Extensions.XML
packages/Microsoft.Net.Http.2.2.29/lib/wpa81/System.Net.Http.Primitives.dll
packages/Microsoft.Net.Http.2.2.29/lib/wpa81/System.Net.Http.Primitives.xml
packages/Microsoft.Net.Http.2.2.29/lib/Xamarin.iOS10/System.Net.Http.Extensions.dll
packages/Microsoft.Net.Http.2.2.29/lib/Xamarin.iOS10/System.Net.Http.Extensions.XML
packages/Microsoft.Net.Http.2.2.29/lib/Xamarin.iOS10/System.Net.Http.Primitives.dll
packages/Microsoft.Net.Http.2.2.29/lib/Xamarin.iOS10/System.Net.Http.Primitives.xml
packages/MvvmLightLibs.5.3.0.0/MvvmLightLibs.5.3.0.0.nupkg
packages/MvvmLightLibs.5.3.0.0/lib/monoandroid1/GalaSoft.MvvmLight.dll
packages/MvvmLightLibs.5.3.0.0/lib/monoandroid1/GalaSoft.MvvmLight.dll.mdb
packages/MvvmLightLibs.5.3.0.0/lib/monoandroid1/GalaSoft.MvvmLight.Extras.dll
packages/MvvmLightLibs.5.3.0.0/lib/monoandroid1/GalaSoft.MvvmLight.Extras.dll.mdb
packages/MvvmLightLibs.5.3.0.0/lib/monoandroid1/GalaSoft.MvvmLight.Extras.pdb
packages/MvvmLightLibs.5.3.0.0/lib/monoandroid1/GalaSoft.MvvmLight.Extras.XML
packages/MvvmLightLibs.5.3.0.0/lib/monoandroid1/GalaSoft.MvvmLight.pdb
packages/MvvmLightLibs.5.3.0.0/lib/monoandroid1/GalaSoft.MvvmLight.Platform.dll
packages/MvvmLightLibs.5.3.0.0/lib/monoandroid1/GalaSoft.MvvmLight.Platform.dll.mdb
packages/MvvmLightLibs.5.3.0.0/lib/monoandroid1/GalaSoft.MvvmLight.Platform.pdb
packages/MvvmLightLibs.5.3.0.0/lib/monoandroid1/GalaSoft.MvvmLight.Platform.XML
packages/MvvmLightLibs.5.3.0.0/lib/monoandroid1/GalaSoft.MvvmLight.XML
packages/MvvmLightLibs.5.3.0.0/lib/net35/GalaSoft.MvvmLight.dll
packages/MvvmLightLibs.5.3.0.0/lib/net35/GalaSoft.MvvmLight.Extras.dll
packages/MvvmLightLibs.5.3.0.0/lib/net35/GalaSoft.MvvmLight.Extras.pdb
packages/MvvmLightLibs.5.3.0.0/lib/net35/GalaSoft.MvvmLight.Extras.xml
packages/MvvmLightLibs.5.3.0.0/lib/net35/GalaSoft.MvvmLight.pdb
packages/MvvmLightLibs.5.3.0.0/lib/net35/GalaSoft.MvvmLight.xml
packages/MvvmLightLibs.5.3.0.0/lib/net35/System.Windows.Interactivity.dll
packages/MvvmLightLibs.5.3.0.0/lib/net35/System.Windows.Interactivity.xml
packages/MvvmLightLibs.5.3.0.0/lib/net40/GalaSoft.MvvmLight.dll
packages/MvvmLightLibs.5.3.0.0/lib/net40/GalaSoft.MvvmLight.Extras.dll
packages/MvvmLightLibs.5.3.0.0/lib/net40/GalaSoft.MvvmLight.Extras.pdb
packages/MvvmLightLibs.5.3.0.0/lib/net40/GalaSoft.MvvmLight.Extras.xml
packages/MvvmLightLibs.5.3.0.0/lib/net40/GalaSoft.MvvmLight.pdb
packages/MvvmLightLibs.5.3.0.0/lib/net40/GalaSoft.MvvmLight.xml
packages/MvvmLightLibs.5.3.0.0/lib/net40/System.Windows.Interactivity.dll
packages/MvvmLightLibs.5.3.0.0/lib/net40/System.Windows.Interactivity.xml
packages/MvvmLightLibs.5.3.0.0/lib/net45/GalaSoft.MvvmLight.dll
packages/MvvmLightLibs.5.3.0.0/lib/net45/GalaSoft.MvvmLight.Extras.dll
packages/MvvmLightLibs.5.3.0.0/lib/net45/GalaSoft.MvvmLight.Extras.pdb
packages/MvvmLightLibs.5.3.0.0/lib/net45/GalaSoft.MvvmLight.Extras.xml
packages/MvvmLightLibs.5.3.0.0/lib/net45/GalaSoft.MvvmLight.pdb
packages/MvvmLightLibs.5.3.0.0/lib/net45/GalaSoft.MvvmLight.Platform.dll
packages/MvvmLightLibs.5.3.0.0/lib/net45/GalaSoft.MvvmLight.Platform.pdb
packages/MvvmLightLibs.5.3.0.0/lib/net45/GalaSoft.MvvmLight.Platform.xml
packages/MvvmLightLibs.5.3.0.0/lib/net45/GalaSoft.MvvmLight.xml
packages/MvvmLightLibs.5.3.0.0/lib/net45/System.Windows.Interactivity.dll
packages/MvvmLightLibs.5.3.0.0/lib/portable-net45+wp8+wpa81+netcore45+monoandroid1+xamarin.ios10/GalaSoft.MvvmLight.dll
packages/MvvmLightLibs.5.3.0.0/lib/portable-net45+wp8+wpa81+netcore45+monoandroid1+xamarin.ios10/GalaSoft.MvvmLight.Extras.dll
packages/MvvmLightLibs.5.3.0.0/lib/portable-net45+wp8+wpa81+netcore45+monoandroid1+xamarin.ios10/GalaSoft.MvvmLight.Extras.pdb
packages/MvvmLightLibs.5.3.0.0/lib/portable-net45+wp8+wpa81+netcore45+monoandroid1+xamarin.ios10/GalaSoft.MvvmLight.Extras.XML
packages/MvvmLightLibs.5.3.0.0/lib/portable-net45+wp8+wpa81+netcore45+monoandroid1+xamarin.ios10/GalaSoft.MvvmLight.pdb
packages/MvvmLightLibs.5.3.0.0/lib/portable-net45+wp8+wpa81+netcore45+monoandroid1+xamarin.ios10/GalaSoft.MvvmLight.XML
packages/MvvmLightLibs.5.3.0.0/lib/SL5/GalaSoft.MvvmLight.dll
packages/MvvmLightLibs.5.3.0.0/lib/SL5/GalaSoft.MvvmLight.Extras.dll
packages/MvvmLightLibs.5.3.0.0/lib/SL5/GalaSoft.MvvmLight.Extras.pdb
packages/MvvmLightLibs.5.3.0.0/lib/SL5/GalaSoft.MvvmLight.Extras.xml
packages/MvvmLightLibs.5.3.0.0/lib/SL5/GalaSoft.MvvmLight.pdb
packages/MvvmLightLibs.5.3.0.0/lib/SL5/GalaSoft.MvvmLight.xml
packages/MvvmLightLibs.5.3.0.0/lib/SL5/System.Windows.Interactivity.dll
packages/MvvmLightLibs.5.3.0.0/lib/windows81/GalaSoft.MvvmLight.dll
packages/MvvmLightLibs.5.3.0.0/lib/windows81/GalaSoft.MvvmLight.Extras.dll
packages/MvvmLightLibs.5.3.0.0/lib/windows81/GalaSoft.MvvmLight.Extras.pdb
packages/MvvmLightLibs.5.3.0.0/lib/windows81/GalaSoft.MvvmLight.Extras.xml
packages/MvvmLightLibs.5.3.0.0/lib/windows81/GalaSoft.MvvmLight.pdb
packages/MvvmLightLibs.5.3.0.0/lib/windows81/GalaSoft.MvvmLight.Platform.dll
packages/MvvmLightLibs.5.3.0.0/lib/windows81/GalaSoft.MvvmLight.Platform.pdb
packages/MvvmLightLibs.5.3.0.0/lib/windows81/GalaSoft.MvvmLight.Platform.pri
packages/MvvmLightLibs.5.3.0.0/lib/windows81/GalaSoft.MvvmLight.Platform.xml
packages/MvvmLightLibs.5.3.0.0/lib/windows81/GalaSoft.MvvmLight.xml
packages/MvvmLightLibs.5.3.0.0/lib/wp8/GalaSoft.MvvmLight.dll
packages/MvvmLightLibs.5.3.0.0/lib/wp8/GalaSoft.MvvmLight.Extras.dll
packages/MvvmLightLibs.5.3.0.0/lib/wp8/GalaSoft.MvvmLight.Extras.pdb
packages/MvvmLightLibs.5.3.0.0/lib/wp8/GalaSoft.MvvmLight.Extras.xml
packages/MvvmLightLibs.5.3.0.0/lib/wp8/GalaSoft.MvvmLight.pdb
packages/MvvmLightLibs.5.3.0.0/lib/wp8/GalaSoft.MvvmLight.Platform.dll
packages/MvvmLightLibs.5.3.0.0/lib/wp8/GalaSoft.MvvmLight.Platform.pdb
packages/MvvmLightLibs.5.3.0.0/lib/wp8/GalaSoft.MvvmLight.Platform.xml
packages/MvvmLightLibs.5.3.0.0/lib/wp8/GalaSoft.MvvmLight.xml
packages/MvvmLightLibs.5.3.0.0/lib/wp8/System.Windows.Interactivity.dll
packages/MvvmLightLibs.5.3.0.0/lib/wp81/GalaSoft.MvvmLight.dll
packages/MvvmLightLibs.5.3.0.0/lib/wp81/GalaSoft.MvvmLight.Extras.dll
packages/MvvmLightLibs.5.3.0.0/lib/wp81/GalaSoft.MvvmLight.Extras.pdb
packages/MvvmLightLibs.5.3.0.0/lib/wp81/GalaSoft.MvvmLight.Extras.xml
packages/MvvmLightLibs.5.3.0.0/lib/wp81/GalaSoft.MvvmLight.pdb
packages/MvvmLightLibs.5.3.0.0/lib/wp81/GalaSoft.MvvmLight.Platform.dll
packages/MvvmLightLibs.5.3.0.0/lib/wp81/GalaSoft.MvvmLight.Platform.pdb
packages/MvvmLightLibs.5.3.0.0/lib/wp81/GalaSoft.MvvmLight.Platform.xml
packages/MvvmLightLibs.5.3.0.0/lib/wp81/GalaSoft.MvvmLight.xml
packages/MvvmLightLibs.5.3.0.0/lib/wp81/System.Windows.Interactivity.dll
packages/MvvmLightLibs.5.3.0.0/lib/wpa81/GalaSoft.MvvmLight.dll
packages/MvvmLightLibs.5.3.0.0/lib/wpa81/GalaSoft.MvvmLight.Extras.dll
packages/MvvmLightLibs.5.3.0.0/lib/wpa81/GalaSoft.MvvmLight.Extras.pdb
packages/MvvmLightLibs.5.3.0.0/lib/wpa81/GalaSoft.MvvmLight.Extras.XML
packages/MvvmLightLibs.5.3.0.0/lib/wpa81/GalaSoft.MvvmLight.pdb
packages/MvvmLightLibs.5.3.0.0/lib/wpa81/GalaSoft.MvvmLight.Platform.dll
packages/MvvmLightLibs.5.3.0.0/lib/wpa81/GalaSoft.MvvmLight.Platform.pdb
packages/MvvmLightLibs.5.3.0.0/lib/wpa81/GalaSoft.MvvmLight.Platform.pri
packages/MvvmLightLibs.5.3.0.0/lib/wpa81/GalaSoft.MvvmLight.Platform.XML
packages/MvvmLightLibs.5.3.0.0/lib/wpa81/GalaSoft.MvvmLight.XML
packages/MvvmLightLibs.5.3.0.0/lib/xamarin.ios10/GalaSoft.MvvmLight.dll
packages/MvvmLightLibs.5.3.0.0/lib/xamarin.ios10/GalaSoft.MvvmLight.Extras.dll
packages/MvvmLightLibs.5.3.0.0/lib/xamarin.ios10/GalaSoft.MvvmLight.Extras.pdb
packages/MvvmLightLibs.5.3.0.0/lib/xamarin.ios10/GalaSoft.MvvmLight.Extras.XML
packages/MvvmLightLibs.5.3.0.0/lib/xamarin.ios10/GalaSoft.MvvmLight.pdb
packages/MvvmLightLibs.5.3.0.0/lib/xamarin.ios10/GalaSoft.MvvmLight.Platform.dll
packages/MvvmLightLibs.5.3.0.0/lib/xamarin.ios10/GalaSoft.MvvmLight.Platform.XML
packages/MvvmLightLibs.5.3.0.0/lib/xamarin.ios10/GalaSoft.MvvmLight.XML
packages/Newtonsoft.Json.9.0.1/Newtonsoft.Json.9.0.1.nupkg
packages/Newtonsoft.Json.9.0.1/lib/net20/Newtonsoft.Json.dll
packages/Newtonsoft.Json.9.0.1/lib/net20/Newtonsoft.Json.xml
packages/Newtonsoft.Json.9.0.1/lib/net35/Newtonsoft.Json.dll
packages/Newtonsoft.Json.9.0.1/lib/net35/Newtonsoft.Json.xml
packages/Newtonsoft.Json.9.0.1/lib/net40/Newtonsoft.Json.dll
packages/Newtonsoft.Json.9.0.1/lib/net40/Newtonsoft.Json.xml
packages/Newtonsoft.Json.9.0.1/lib/net45/Newtonsoft.Json.dll
packages/Newtonsoft.Json.9.0.1/lib/net45/Newtonsoft.Json.xml
packages/Newtonsoft.Json.9.0.1/lib/netstandard1.0/Newtonsoft.Json.dll
packages/Newtonsoft.Json.9.0.1/lib/netstandard1.0/Newtonsoft.Json.xml
packages/Newtonsoft.Json.9.0.1/lib/portable-net40+sl5+wp80+win8+wpa81/Newtonsoft.Json.dll
packages/Newtonsoft.Json.9.0.1/lib/portable-net40+sl5+wp80+win8+wpa81/Newtonsoft.Json.xml
packages/Newtonsoft.Json.9.0.1/lib/portable-net45+wp80+win8+wpa81/Newtonsoft.Json.dll
packages/Newtonsoft.Json.9.0.1/lib/portable-net45+wp80+win8+wpa81/Newtonsoft.Json.xml
packages/Newtonsoft.Json.9.0.1/tools/install.ps1
packages/Square.OkHttp.2.7.5.0/LICENSE.txt
packages/Square.OkHttp.2.7.5.0/README.md
packages/Square.OkHttp.2.7.5.0/Square.OkHttp.2.7.5.0.nupkg
packages/Square.OkHttp.2.7.5.0/lib/MonoAndroid/Square.OkHttp.dll
packages/Square.OkIO.1.6.0.0/LICENSE.txt
packages/Square.OkIO.1.6.0.0/README.md
packages/Square.OkIO.1.6.0.0/Square.OkIO.1.6.0.0.nupkg
packages/Square.OkIO.1.6.0.0/lib/MonoAndroid/Square.OkIO.dll
packages/Square.Picasso.2.5.2.1/LICENSE
packages/Square.Picasso.2.5.2.1/README.md
packages/Square.Picasso.2.5.2.1/Square.Picasso.2.5.2.1.nupkg
packages/Square.Picasso.2.5.2.1/lib/MonoAndroid/Square.Picasso.dll
packages/TPKeyboardAvoiding.Binding.1.3.0.2/TPKeyboardAvoiding.Binding.1.3.0.2.nupkg
packages/TPKeyboardAvoiding.Binding.1.3.0.2/lib/Xamarin.iOS/TPKeyboardAvoiding.dll
packages/TPKeyboardAvoiding.Binding.1.3.0.2/lib/Xamarin.iOS/TPKeyboardAvoiding.dll.mdb
packages/Xamarin.Android.Support.Animated.Vector.Drawable.23.3.0/Xamarin.Android.Support.Animated.Vector.Drawable.23.3.0.nupkg
packages/Xamarin.Android.Support.Animated.Vector.Drawable.23.3.0/lib/MonoAndroid403/Xamarin.Android.Support.Animated.Vector.Drawable.dll
packages/Xamarin.Android.Support.Design.23.3.0/Xamarin.Android.Support.Design.23.3.0.nupkg
packages/Xamarin.Android.Support.Design.23.3.0/lib/MonoAndroid43/Xamarin.Android.Support.Design.dll
packages/Xamarin.Android.Support.v4.23.3.0/Xamarin.Android.Support.v4.23.3.0.nupkg
packages/Xamarin.Android.Support.v4.23.3.0/lib/MonoAndroid403/Xamarin.Android.Support.v4.dll
packages/Xamarin.Android.Support.v7.AppCompat.23.3.0/Xamarin.Android.Support.v7.AppCompat.23.3.0.nupkg
packages/Xamarin.Android.Support.v7.AppCompat.23.3.0/lib/MonoAndroid403/Xamarin.Android.Support.v7.AppCompat.dll
packages/Xamarin.Android.Support.v7.RecyclerView.23.3.0/Xamarin.Android.Support.v7.RecyclerView.23.3.0.nupkg
packages/Xamarin.Android.Support.v7.RecyclerView.23.3.0/lib/MonoAndroid403/Xamarin.Android.Support.v7.RecyclerView.dll
packages/Xamarin.Android.Support.Vector.Drawable.23.3.0/Xamarin.Android.Support.Vector.Drawable.23.3.0.nupkg
packages/Xamarin.Android.Support.Vector.Drawable.23.3.0/build/Xamarin.Android.Support.Tasks.VectorDrawable.dll
packages/Xamarin.Android.Support.Vector.Drawable.23.3.0/build/Xamarin.Android.Support.Vector.Drawable.targets
packages/Xamarin.Android.Support.Vector.Drawable.23.3.0/lib/MonoAndroid403/Xamarin.Android.Support.Vector.Drawable.dll
packages/Xamarin.SDWebImage.3.7.5/Xamarin.SDWebImage.3.7.5.nupkg
packages/Xamarin.SDWebImage.3.7.5/lib/MonoTouch/SDWebImage.dll
packages/Xamarin.SDWebImage.3.7.5/lib/Xamarin.iOS/SDWebImage.dll
[Content_Types].xml
[Content_Types].xml
packages/CommonServiceLocator.1.3
